# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
autopep8
cython
gluoncv
jupyterlab
matplotlib
mxnet-cu100mkl
mxboard
numpy=1.14.6
Pillow-SIMD
pycocotools
tensorboard
tensorflow
tqdm

